<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="barangsMenu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>      
  <ion-item-sliding *ngFor="let barang of barangs">
      <ion-card [routerLink]="['./', barang.id]">
      <ion-card-header>         
        <ion-item >
          <ion-img style="width: 80px; height: 80px;" [src]="barang.imageUrl"></ion-img>
          <ion-title>
            {{ barang.title }}
          </ion-title>
        </ion-item>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item>
            <ion-icon name="pricetag-outline" slot="start"></ion-icon>
            <ion-grid>
              <ion-row>
                <ion-label>{{ barang.harga | currency:"Rp "}}&nbsp;&nbsp;</ion-label>
              </ion-row>
            </ion-grid>
          </ion-item>
          <ion-item>
            <ion-grid>
              <ion-row>
                <ion-label>Tersedia: {{ barang.stock }}&nbsp;&nbsp;</ion-label>
              </ion-row>
            </ion-grid>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </ion-item-sliding>

</ion-content>
