<ion-header>
  <ion-toolbar>
    <ion-title>Tambah Barang</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/barang"></ion-back-button>
      <ion-menu-button menu="barangsMenu"></ion-menu-button>
      
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Pilih jenis barang yang ingin dimasukkan</ion-label>
  </ion-item>
  <ion-item>
  <ion-select (ionChange)="checkBarang($event)"  interface="popover" 
  placeholder="Select One">
    <ion-select-option value="CPU">CPU</ion-select-option>
    <ion-select-option value="RAM">RAM</ion-select-option>
    <ion-select-option value="Motherboard">Motherboard</ion-select-option>
    <ion-select-option value="GPU">GPU</ion-select-option>
  </ion-select> 
  </ion-item>
  <ion-item>
    <ion-button color="primary" (click)="presentModal()">Next</ion-button>
  </ion-item>

</ion-content>
