<ion-header>
  <ion-toolbar>
    <ion-title>About</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="barangsMenu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-avatar class="image-center">
      <img src="https://scontent.fcgk18-2.fna.fbcdn.net/v/t1.0-9/121167556_3466237890136824_4270554914328240225_n.jpg?_nc_cat=107&_nc_sid=09cbfe&_nc_ohc=9y87LzUn5_oAX9Xwbv3&_nc_ht=scontent.fcgk18-2.fna&oh=a40fe82926f65fdcd7a332d5ff6cefc3&oe=5FAE2BA4" />
    </ion-avatar>
    <ion-card-content>
      <ion-item class="ion-text-center">
        <ion-label>Fenri Mintardja</ion-label>
      </ion-item>
      <ion-item class="ion-text-center">
        <ion-label>00000019495 - AL</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>-Celvyn Yulian</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>-Viriya Lucky</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>-Jason Wenardi</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>-Vincent</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>-Jonathan</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>-Mikhail Aresa</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>-Stefanus Dwitra</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>-Grendi Nugroho</ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
